html {
	height: 100%;
	position:relative;
}
body {
	color: @color_1;
	height: 100%;
	/*background-image: @bg-image1-url;
	background-repeat: repeat-x;
	background-attachment: fixed;*/
}
#root {
	height: 100%;
	.container {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
}
#PageHeader {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 4em;
	min-width: 800px;
	font-family: @font_family_1;
	color: @color_2;
	text-align: center;
	position: fixed;
	background: @color-bg-panel;
	background-image: @bg-image1-url;
	z-index: 2;
	.input-group {
		width: 30em;
	}
	.input-group.small {
		width: 15em;
	}
	.input-group.medium {
		width: 45em;
	}
	.input-group.long {
		width: 70em;
	}
	h1 {
		>span {
			>a {
				color: @color_3;
			}
		}
	}
	.dropdown-menu {
		max-height: 40em;
		overflow-y: auto;
	}
	.eqsz {
		min-width: 7em;
	}
}
#WorkArea {
	width: 100%;
	padding: 1em;
	position: absolute;
	//height: ~"calc(100% - 4em - 4px)"; -- redefined dynamically by <Layout>
	//top: 4em;
	clear: both;
	font-size: 13px;
	font-family: @font_family_1;
	.container #PageHeader {
		position: relative;
		z-index: -1;
	}
	.container > #WorkArea {
		margin-top: 0px;
	}
	&.snapshots {
		margin-top: 4em;
	}
	>table {
		margin-left: auto;
		margin-right: auto;
	}
}
.row {
	// redefine bootstrap
	margin-right: 0; 
	margin-left: 0;
}
.maActive:active {
	background: @color_active_click;
}
table {
	padding: 0px;
	margin: 0px;
	td {
		vertical-align: top;
	}
}
h1 {
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 20pt;
}
h2 {
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 20pt;
}
h3 {
	font-size: 20pt;
}
input[type=text] {
	&::-ms-clear {
		display: none;
	}
}
.react-datepicker {
	font-size: 13px;
}
.react-datepicker__current-month {
	font-size: 13px;
}

.money {
	float: right;
	white-space: nowrap;
}
.money.draft {
	color: @color_4;
}
a {
	span.money {
		&:hover {
			text-decoration: underline;
		}
	}
}
.money.negative {
	color: @color-error;
}
.money.negative.draft {
	color: @color-error-draft;
}

.modal-dialog {
	margin: auto;
	top: 0;
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	height: 15em;
}
.ajaxLoading {
	cursor: wait !important;
	.btn {
		cursor: wait !important;
	}
	select {
		cursor: wait;
	}
	input {
		cursor: wait;
	}
}
.spacing {
	background: white;
	border-top: none;
}
