@color_0: white;
@color_1: rgb(51, 51, 51);
@color_2: rgb(49, 112, 143);
@color_3: #6495ED;
@color_4: darkGray;
@color_5: #ddd;
@color_6: #999;
@color_7: #eee;
@color_8: #333;
@color_9: LightYellow;
@color_10: #f6f6f6;
@color_hilight_row_1: @color_9;
@color-error: #f00;
@color-error-draft: pink;
@color-check-failed: #FFd0d0;
@color-check-success: #d0FFd0;
@color_active_click: @color_7;
@font_family_1: Verdana;
@outline_color_1: transparent;
@color-bg-panel: @color_0;
@table-border-1: 1px solid @color_8;
@table-border-2: 1px dotted @color_6;
@table-border-3: 1px solid @color_6;
@table-border-edit-cell: 1px solid @color_6;
@table-row-color-odd: @color_7;
@table-row-color-hover: @color_9;
@bg-image1-url: url('/ru.topso.nostromon/img/grid1-mini.png');