table.ReportGrid {
	>tbody {
		>tr {
			>td {
				padding: 4pt;
				padding-top: 0;
				padding-left: 0;
			}
		}
	}
}
div.ReportGrid {
	padding: 5pt;
	text-align: center;
}
table.rciStatusList {
	min-width: 30em;
	display: table-cell;
}
table.rciStatusList {
	>thead {
		>tr {
			>th {
				padding-right: 4px;
				padding-left: 4px;
			}
		}
	}
	tr {
		>td {
			text-align: center;
		}
	}
}
table.repTable {
	width: 100%;
	thead {
		>tr {
			&:nth-child(1) {
				border-bottom: @table-border-1;
				border-right: none;
			}
			&:nth-child(2) {
				border-bottom: @table-border-2;
			}
			>th {
				text-align: center;
				border-right: @table-border-2;
				padding-left: 4px;
				padding-right: 4px;
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	tbody {
		>tr {
			>td {
				&:last-child {
					border-right: none;
				}
				padding: 2px 4px 2px 4px;
				border-right: @table-border-2;
				.money {
					padding-top: 2px;
					padding-bottom: 2px;
				}
				&:nth-child(1) {
					text-align: center;
				}
				&:nth-child(3) {
					text-align: right;
					padding-left: 10px;
				}
			}
			&:nth-child(odd) {
				background: @table-row-color-odd;
			}
			&:hover {
				background: @table-row-color-hover;
			}
			&:last-child {
				font-weight: bold;
			}
			>th {
				padding-left: 4px;
				padding-right: 4px;
				text-align: right;
				border-right: @table-border-2;
				&:last-child {
					border-right: none;
				}
			}
		}
	}
}
table.repStat {
	text-align: center;
	width: 100%;
	th {
		text-align: center;
		padding-right: 10px;
	}
	tr {
		&:nth-child(2) {
			td {
				text-align: center;
				border-bottom: @table-border-2;
			}
		}
	}
	td {
		padding-right: 10px;
	}
}
